<html>
  <head>
    <title>E-Comerse</title>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  </head>
  <body>
    <script src="/javascripts/jquery.validate.js"></script>
    <script src="/javascripts/additional-methods.min.js"></script>

    <script src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
    <script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/posts/create">New Post</a></li>
    </ul>
    <%= yield %>
  </body>
</html>
