<h1>Sign In</h1>

<form action="/signin" method="Get">
  Email: <input type="text" name="user[email]">
  <br/>
  Password: <input type="password" name="user[password]">
  <br/>
  Password Confirmation: <input type="password" name="user[password_confirmation]">
  <br/><br/><br/>
  <input type="submit" name="Sign Up" value="Sign Up" id="signup_form">
</form>