<div id="server-signup_errors"></div>
<h1>Sign Up</h1>

<form action="/create_signup" method="POST" id="signup_form">
  <div id="Errors"></div>
  <label for="user_firstname">FirstName: </label>
  <input type="text" name="user[firstname]" id="user_firstname">
  <br/>
  <label for="user_lastname">LastName: </label>
  <input type="text" name="user[lastname]" id="user_lastname">
  <br/>
  <label for="user_email">Email: </label>
  <input type="text" name="user[email]" id="user_email">
  <br/>
  <label for="user_password">Password: </label>
  <input type="password" name="user[password]" id="user_password">
  <br/>
  <label for="user_password_confirmation">Password Confirmation: </label>
  <input type="password" name="user[password_confirmation]" id="user_password_confirmation">
  <br/><br/><br/>
  <input type="submit" name="Sign Up" value="Sign Up">
</form>
<br/>
<a href="/sign_in">Sign In</a>

<script src="/javascripts/registration_form.js"></script>
<script src="/javascripts/validate.js"></script>